@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
  --brand-navy: #06315c;
  --brand-red: rgb(203, 0, 0);
  --brand-red-rgb: 203, 0, 0;
  --brand-red-dark: rgb(177, 0, 0);
  --brand-red-darker: rgb(151, 0, 0);
  --brand-red-faded: rgb(203, 75, 75);
  --light-gray: #dddddd;
  --danger: #a00;
  --info: #00c;
}

html {
  font-size: 28px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Saira', sans-serif;
}

main {
  flex-grow: 1;
  min-height: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

p {
  line-height: 1.5em;
}

ul {
  margin: 0;
}

.logo {
  background-color: var(--light-gray);
  padding: .2rem;
  border-radius: 5px;
}

.logo > div {
  background-color: var(--light-gray);
  color: var(--brand-navy);
  border: 3px solid white;
  padding: 0 .25rem;
  margin: 0;
  font-weight: bold;
  line-height: 1em;
  text-transform: capitalize;
}

/* bootstrap utility */
.text-bg-navy {
  background-color: var(--brand-navy) !important;
  color: white !important;
}

.btn-red {
  --bs-btn-color: white;
  --bs-btn-bg: var(--brand-red);
  --bs-btn-border-color: var(--brand-red);
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: var(--brand-red-dark);
  --bs-btn-hover-border-color: var(--brand-red-dark);
  --bs-btn-focus-shadow-rgb: var(--brand-red-rgb);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--brand-red-darker);
  --bs-btn-active-border-color: var(--brand-red-darker);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--brand-red-faded);
  --bs-btn-disabled-border-color: var(--brand-red-faded);
}
/* end of bootstrap utility */

#hero {
  position: relative;
  background-color: black;
  height: 700px;
  max-height: 700px;
  overflow: hidden;
}

.hero-heading {
  position: absolute;
  top: 75%;
  width: 100%;
  height: 25%;
  margin: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 -25px 25px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

#hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.link-btn,
.link-btn:visited {
  display: block;
  width: fit-content;
  margin: 1rem auto;
  padding: .5rem 1rem;
  border-radius: .25rem;
  background-color: var(--brand-red);
  color: white;
  text-decoration: none;
  white-space: nowrap;
  transition: transform .2s ease-in-out;
}

.link-btn:hover {
  transform: scale(1.05);
}

#project-highlights {
  padding: 2rem 5%;
  background-color: var(--light-gray);
}

#project-highlights h2 {
  max-width: 1200px;
  margin: .25rem auto;
}

.project {
  max-width: 1200px;
  padding-bottom: 1rem;
  margin: 0 auto 2rem;
  background-color: white;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .25rem .5rem;
  background-color: var(--brand-red);
  color: white;
}

.project-header h2,
.project-header h3 {
  margin: 0;
}

.project-header time {
  color: var(--light-gray);
}

.project-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem 1rem;
}

.project-photos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.project-photo img {
  max-width: 300px;
}

.project-photo figcaption {
  text-align: center;
}

.customer-review {
  margin: 1rem 10%;
  padding: 1rem 1.5rem;
  border-radius: .25rem;
  background-color: var(--brand-navy);
  color: white;
}

.customer-review h4,
.customer-review h3 {
  margin: 0;
}

.customer-review p {
  margin: 0;
}

#project-highlights > a {
  margin: 1rem auto;
}

#contact-us-section {
  background-color: white;
}

#projects h1 {
  text-align: center;
  margin: 1rem 0;
}

#contact-us-section h2,
#contact-us-section p {
  text-align: center;
}

#projects-section {
  padding: 1rem 10%;
  background-color: var(--light-gray);
}

#faq h1 {
  text-align: center;
  margin: 1rem 0;
}

.question-answer {
  margin: 0 20%;
  padding: .5rem 0;
  border-bottom: 1px solid var(--light-gray);
  text-align: justify;
}

.question-answer .question::before,
.question-answer .answer::before {
  margin-right: .5rem;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--brand-navy);
}

.question-answer .question::before {
  content: 'q:';
}

.question-answer .answer::before {
  content: 'a:';
}

.question {
  font-weight: bold;
}

.about-us-section {
  margin: 1rem 15%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.about-us-section h2 {
  text-align: left;
  text-transform: capitalize;
  margin: 0;
}

.about-us-section > img {
  max-width: 600px;
  margin: auto;
  border-radius: .25rem;
}

#about-us #contact-us-section {
  border-top: 1px solid var(--light-gray)
}

#contact-us h1 {
  text-align: center;
}

#service-area {
  margin: 0 20% 2rem;
}

#service-area h2 {
  margin: 0;
}

#best-contact-method,
#billing-info {
  margin: 1rem 20%;
}

#service-area h2,
#best-contact-method h2,
#billing-info h2 {
  font-size: 1.25em;
  margin: 0;
}

#service-area p,
#best-contact-method p,
#billing-info p {
  margin: 0;
}

#contact-info {
  padding: 1rem 20%;
  background-color: var(--light-gray);
}

#contact-info h2 {
  text-align: center;
  margin-top: 0;
}

#contact-info > ul {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

#contact-info li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: .25rem 1rem;
  background-color: var(--brand-red);
  border-radius: 10px;
  height: 100px;
}

#contact-info li > i {
  font-size: 1.75em;
  color: white;
}

#contact-info a {
  color: white;
}

.error-message {
  width: fit-content;
  margin: 0 auto;
  padding: .5rem 1rem;
  border: 1px solid var(--danger);
  border-radius: 5px;
  text-align: center;
  font-size: 1.25rem;
  color: var(--danger);
}

.loading-message {
  width: fit-content;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  font-size: 1.25rem;
  color: var(--info);
  animation: pulse .75s ease-in-out infinite;
}

.info-message {
  width: fit-content;
  margin: 0 auto;
  padding: .5rem 1rem;
  border: 1px solid var(--info);
  border-radius: 5px;
  text-align: center;
  font-size: 1.25rem;
  color: var(--info);
}

.error-container {
  width: 75%;
  margin: 2rem auto;
}

.error-container h1 {
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 24px;
  }

  #hero {
    max-height: 500px;
  }
}

@media screen and (max-width: 1200px) {
  .question-answer {
    margin: 0 15%;
  }

  .about-us-section {
    margin: 1rem 10% 2rem;
  }

  .about-us-section h2 {
    text-align: center;
  }

  #service-area {
    margin: 0 10% 1rem;
  }

  #best-contact-method,
  #billing-info {
    margin: 1rem 10%;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 20px;
  }

  #hero {
    max-height: 400px;
  }

  #projects-section {
    padding: 1rem 5%;
  }

  .question-answer {
    margin: 0 10%;
  }

  #service-area {
    margin: 0 5%;
  }

  #contact-info {
    padding: 1rem 5%;
  }

  #contact-info li {
    font-size: 1.2em;
  }

  #best-contact-method,
  #billing-info {
    margin: 2rem 5%
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }

  #hero {
    max-height: 250px;
  }
  
  .hero-heading {
    font-size: 2rem;
  }

  .project-photos {
    flex-direction: column;
  }

  .customer-review {
    margin: 1rem;
    margin-bottom: 0;
  }

  .about-us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }

  .about-us-section h2 {
    text-align: center;
  }

  .about-us-section img {
    width: 100%;
    max-width: 600px;
  }

  #contact-us h2 {
    text-align: center;
  }

  #contact-info {
    padding: 1rem 0;
  }

  #contact-info li {
    padding: .5rem 1rem;
    height: auto;
  }

  .error-container {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  #hero {
    max-height: 200px;
  }
    
  .hero-heading {
    font-size: 1.5rem;
  }

  #project-highlights {
    padding: 1rem .5rem;
  }

  #project-highlights h2 {
    text-align: center;
  }

  #projects-section {
    padding: .5rem;
    background-color: #fff;
  }

  #projects-section .project {
    border: 2px solid #bbb;
  }

  #faq h1 {
    margin: .5rem 1rem;
  }

  .question-answer {
    margin: 1rem;
    padding-bottom: 1rem;
  }

  #contact-info li {
    font-size: 1em;
    justify-content: center;
  }

  #contact-info li > i {
    display: none;
  }
}

@media print {
  html {
    font-size: 12pt !important;
    padding: 1in !important;
  }

  header, footer, #hero img, #contact-us-section {
    display: none;
  }

  #hero h1 {
    position: static;
  }

  a {
    text-decoration: underline !important;
  }

  a::after {
    content: ' (' attr(href) ')';
    display: inline;
    color: #000;
  }

  *,
  *::before,
  *::after {
    background-color: #fff !important;
    color: #000 !important;
  }

  .project {
    page-break-after: always;
  }

  #projects-section {
    padding: 0 !important;
  }

  .project-body {
    padding: 0 !important;
  }

  .customer-review {
    padding: 0 !important;
    margin: 0 !important;
  }

  .question-answer {
    page-break-inside: avoid;
    margin: 0 !important;
    padding: 0 !important;
  }

  #contact-info,
  #billing-info,
  #best-contact-method,
  #service-area {
    padding: 0 !important;
    margin: 0 !important;
  }

  #contact-info ul {
    margin-bottom: 2rem;
  }

  #contact-info li {
    height: auto;
    justify-content: start;
  }

  .about-us-section {
    margin: 0 !important;
    flex-direction: column !important;
    page-break-inside: avoid;
  }

  .about-us-section p,
  .about-us-section h2 {
    text-align: left !important;
  }

  .about-us-section img {
    max-width: 3.5in;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --danger: #d33;
    --info: #99f;
  }

  html {
    background-color: #333;
    color: var(--light-gray);
  }

  #project-highlights,
  #projects-section {
    background-color: #151515;
  }

  .project {
    background-color: #454545;
  }

  .question::before,
  .answer::before {
    color: var(--light-gray) !important;
  }

  #contact-info {
    background-color: #151515;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: .001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .001ms !important;
  }
}

@keyframes pulse {
  0% {
    opacity: .25;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .25;
  }
}